
<a class="main-title" href="/"><h1 class="main-title">{{ site.Title}}</h1></a>
<div style="display: flex; flex-direction: row; gap: 8px;">
  {{- range $item := .collection }}
  {{ $relURL := $item.section | relURL }}
  {{ with $.context.Site.GetPage $relURL }}
     <a href="{{ $item.section | relLangURL }}">
      <div class="navbar">{{ $item.title }}
      </div>
     </a>
     {{ else }}
     <a href="/{{ $item.section }}"><div class="navbar"> {{ $item.title }}</div></a>
     {{end }}
  {{- end -}}
</div>
