
@mixin notice-theme ($--bg-color, $--text-color, $--border-color) {
    .notice {
        background-color: $--bg-color;
        color: $--text-color;

        border-radius: 20px;
        border-style: solid;
        border-thickness: 3px;
        border-color: $--border-color;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 20px;

        > p > code {
            border-radius: 8px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    @include notice-theme(#EECC33, #000000, #FFFF00); // modus-vivendi
}

@media (prefers-color-scheme: light) {
    @include notice-theme(#ffcc11, #000000, #DDDD00); // modus-operandi
}
