<div class="language-bar">
  {{ $translationLocales := slice }}
  {{- range $.AllTranslations -}}
  {{- $translationLocales = append .Language.Locale $translationLocales -}}
  {{- end -}}

  {{ range $tr := .Site.Languages }}

  {{ $translation := where $.Translations ".Language.Locale" $tr.Locale }}
  {{ if (eq $tr.Locale $.Language.Locale) }}
  <a class="language selected-language" href="{{ $.Permalink }}"><span>{{ $tr }}</span></a>
  {{ else if in $translationLocales $tr.Locale }}
  <a class="language" href="{{ (index $translation 0).Permalink }}"><span>{{ $tr }}</span></a>
  {{ else }}
   <span class="disabled">{{ $tr }}</span>
   {{ end }}
  {{ end }}
</div>
